<div class="sort-container">

  <div class="sort-item">
    <input type="radio" name="sorting" value="asc" (change)="radioChangeHandler($event)">Name Ascending
  </div>

  <div class="sort-item">
    <input type="radio" name="sorting" value="dsc" (change)="radioChangeHandler($event)">Name Descending
  </div>

  <div class="sort-item">
    <input type="radio" name="sorting" value="available" (change)="radioChangeHandler($event)" >Availability
  </div>

</div>


<div class="cars" *ngFor="let car of cars">

  <div class="car">

    <div class="photo">
      <img class="image responsive" src="{{car.image}}">
    </div>

    <div class="description">
      <div class="name">{{car.year + " " + car.name}}</div>
      <div class="make">{{car.make}}</div>
      <div class="model">{{car.model}}</div>
      <div class="availability" *ngIf="car.available=='In Dealership'">
        <div class="button-primary">
          <button>Buy now</button>
        </div>
      </div>

      <div class="availability" *ngIf="car.available!='In Dealership'">
        <div class="unavailable">{{car.available}}</div>
      </div>

    </div>

  </div>

</div>
<div>{{errorMessage}}</div>

